// breakpoints
$mobile-breakpoint: 375px;
$desktop-breakpoint: 1440px;

// colours
$off-white: #FFFDFA;
$gunmetal: #5E607A;
$dark-blue: #00001A;
$vermillion: #F15D51;
$silver: #C5C6CE;
$yellow: #E9AA52;

// font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');